{% extends 'base.html.twig' %}
{% block title %}Mes Projets{% endblock %}
{% block body %}
<section class="projets">

    {% for projet in projets %}
        <projet>
            <h2>{{ projet.titre }}</h2>
            <div class="metadata">Projet créé par <label style="color:rgba(255, 0, 0, 0.589)">{{ projet.user }}</label> le {{ projet.createdAt | date('d/m/Y') }} à {{  projet.createdAt | date('H:i') }}</div>
            <div class="content">
                <label> Aperçu : {{ projet.contenu }}</label><br>
                {{ projet.langProj.label }}
                <label>==></label>
                {% for language in projet.langTrad %}
                    {{ language.label }} /
                {% endfor %}
                <br><a href="{{ path('view_projet', {'id' : projet.id }) }}" class="btn btn-primary">Afficher le projet</a>
            </div>
        </projet>
    {% endfor %}
</section>
{% endblock %}