{% extends 'base.html.twig' %}
{% block title %}Mes Projets{% endblock %}
{% block body %}
<section class="projets">

    {% for projet in projets %}
        <projet>
            <h2>{{ projet.titre }}</h2>
            <div class="metadata">Projet créé par <label style="color:rgba(255, 0, 0, 0.589)">{{ projet.user }}</label> le {{ projet.createdAt | date('d/m/Y') }} à {{  projet.createdAt | date('H:i') }}</div>
            <div class="content">
                <label> Aperçu : {{ projet.contenu }}</label><br>
                {{ projet.langProj.label }}
                <label>==></label>
                {% for language in projet.langTrad %}
                    {{ language.label }} /
                    {% endfor %}
                    <br><label>Liste des sources :</label><br>
                    {% for lessources in projet.sources %}
                    {{ lessources.name }} >>> <a href="{{ path('edit_source', {'id' : lessources.id }) }}" class="btn btn-primary">Modifier la source</a><br>
                    {% endfor %}
                <br><a href="{{ path('editprojet', {'id' : projet.id }) }}" class="btn btn-primary">Modifier le projet</a>
                <a href="{{ path('create_source', {'id' : projet.id }) }}" class="btn btn-primary">Ajouter une source</a>
            </div>
        </projet>
    {% endfor %}
    <br><a href="{{ path('create_projet') }}" class="btn btn-primary">+ Créer un projet +</a>
</section>
{% endblock %}